.id {
    width: 70px;
}

.alpha {
    width: 200px;
}

.kanji {
    width: 200px;
}

/* Laravelのpaginateで出力されるデフォルトのulタグは”・”を出力するが、それを消すのが下記のソース */
ul {
    list-style: none;
}

.page-item {
    font-size: 25px;
}

/* 下のCSSでLaravelのページネーションのスタイルを横並びにすることが出来る */
.pagination li {
    display: inline-block;
}