body {
    background-image: url("back.jpg");
    background-size: cover;
    background-color: #fff;
    color: #008BBB;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.pad {
    margin-top: 10px;
    margin-bottom: 10px;
}

.position-ref {
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#link {
    color: #008BBB;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.m-b-md {
    margin-bottom: 30px;
    font-size: 44px;
}

#link:hover {
    color: #FFFF66;
}