.price {
    width: 200px;
    height: 20px;
    font-size: 20px;
}

.journal {
    width: 300px;
    height: 60px;
    font-size: 20px;
}

.account, .year, .month, .day {
    width: 220px;
    font-size: 20px;
}